<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>OOP Employee Web App</display-name>
  <servlet>
    <servlet-name>AddVideoServlet</servlet-name>
    <servlet-class>com.oop.servlet.AddVideoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddMemberServlet</servlet-name>
    <servlet-class>com.oop.servlet.AddMemberServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateVideoServlet</servlet-name>
    <servlet-class>com.oop.servlet.UpdateVideoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateMemberServlet</servlet-name>
    <servlet-class>com.oop.servlet.UpdateMemberServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteVideoServlet</servlet-name>
    <servlet-class>com.oop.servlet.DeleteVideoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteMemberServlet</servlet-name>
    <servlet-class>com.oop.servlet.DeleteMemberServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetVideoServlet</servlet-name>
    <servlet-class>com.oop.servlet.GetVideoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetMemberServlet</servlet-name>
    <servlet-class>com.oop.servlet.GetMemberServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListVideoServlet</servlet-name>
    <servlet-class>com.oop.servlet.ListVideoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListMemberServlet</servlet-name>
    <servlet-class>com.oop.servlet.ListMemberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddVideoServlet</servlet-name>
    <url-pattern>/AddVideoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddMemberServlet</servlet-name>
    <url-pattern>/AddMemberServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateVideoServlet</servlet-name>
    <url-pattern>/UpdateVideoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateMemberServlet</servlet-name>
    <url-pattern>/UpdateMemberServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteVideoServlet</servlet-name>
    <url-pattern>/DeleteVideoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteMemberServlet</servlet-name>
    <url-pattern>/DeleteMemberServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetVideoServlet</servlet-name>
    <url-pattern>/GetVideoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetMemberServlet</servlet-name>
    <url-pattern>/GetMemberServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListVideoServlet</servlet-name>
    <url-pattern>/ListVideoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListMemberServlet</servlet-name>
    <url-pattern>/ListMemberServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>Home.html</welcome-file>
    <welcome-file>Home.htm</welcome-file>
    <welcome-file>Home.jsp</welcome-file>
  </welcome-file-list>
</web-app>